.panel.panel-primary
    .panel-heading.text-center Dream Team
    .panel-body
        .row(ng-repeat="player in dreamTeam")
            .col-md-6 {{player.webName}}
            .col-md-6 {{player.typeName}}
