.panel.panel-primary
    .panel-heading.text-center Injuries
    .panel-body
        .row(ng-repeat="player in injuries")
            .col-md-4 {{player.name}}
            .col-md-2 {{player.position}}
