.panel.panel-primary
    .panel-heading.text-center Top Scorers
    .panel-body
        .row(ng-repeat="player in topScorers")
            .col-md-5 {{player.webName}}
            .col-md-4 {{player.teamName}}
            .col-md-3 {{player.goalsScored}}
