.panel.panel-primary
    .panel-heading.text-center Transfers out
    .panel-body
        .row(ng-repeat="player in transfersOut")
            .col-md-6 {{player.webName}}
            .col-md-6 {{player.teamName}}
