.panel.panel-primary
    .panel-heading.text-center Transfers In
    .panel-body
        .row(ng-repeat="player in transfersIn")
            .col-md-6 {{player.webName}}
            .col-md-6 {{player.teamName}}
